<form action="/new" method="post">
  <label for="filename">Add a new document:</label>
  <div>
    <input type="text" name="filename" id="filename">
    <button type="submit">Create</button>
  </div>
</form>